.Chat {

  position: absolute;

  height: 120px;
  width: 80%;

  margin-top: 128px;
  margin-left: 10%;

}

.Chat > div {

  position:relative;

  width:100%;
  padding-bottom:100%;

}

.Chat > div > div {

  clip: rect(auto, auto, auto, auto);
  
  position:absolute;

  width:100%;
  height:100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
