.ChatHeader {

  position: relative;

  width: calc(100% - 6px);

  flex-grow: 1;

  border: solid black 3px;
  border-radius: 32px;

}

.ChatHeaderContent {

  position: absolute;

  width: 90%;
  height: 80%;

  left: 5%;
  top: 10%;

  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.ChatHeaderLeft {

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.ChatHeaderContent strong {
  margin-right: 32px;
}


.ChatName {
  height: 100%;
  font-size: 48px;
}

.ParticipantsCount,
.MessageCount {
  font-size: 24px;
}

.ChatHeaderRight {
  font-size: 32px;
}
