.FlexWrapper {

  width: 30%;
  align-self: flex-start;
  flex-grow: 1;

  margin-left: 32px;
  margin-top: 16px;

}

.ChatMessage {

  position: relative;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: lightgray;

  padding: 8px;

  border: solid black 1px;
  border-radius: 16px;

}

.SelfMessage {

  align-self: flex-end;

  margin-left: 0px;
  margin-right: 32px;

}


.ChatMessageContent {

  position: relative;

  width: 100%;
  height: auto;

  background-color: red;

  align-self: flex-start;

  display: flex;
  justify-content: flex-start;

  background-color: lightgray;

}

.ChatMessageController {

  height: 32px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: lightgray;

}

.ChatMessageLike {
  position: absolute;
  height: 32px;
  width: 32px;
}

.ChatMessageController > label {
  height: 32px;
  width: 32px;
}

.ChatMessageDislike {
  position: absolute;
  height: 32px;
  width: 32px;
}

.ChatMessageContent p {
  margin-left: 16px;
  margin-top: 0px;
  margin-bottom: 8px;
  position: relative;
  top: 0px;
}

.ChatMessageContent span {
  margin-left: 16px;
  font-size: 20px;
}

.ChatMessageController > label > input[type="checkbox"] {
  display: none;
}

.ChatMessageController > label > input[type="checkbox"]:checked + img {
  display: none;
}

.ChatMessageContent > img {
  height: 64px;
  width: 64px;
  border: solid black 1px;
  border-radius: 32px;
}

.FreeSpace {
  width: 100%;
  height: 16px;
}
